# OpenAI settings
NEUROJOBS_OPENAI_API_KEY=

# Telegram bot settings
NEUROJOBS_TELEGRAM_BOT_TOKEN=

# Scraper settings
NEUROJOBS_SCRAPER__MAX_REQUESTS_PER_MINUTE=
NEUROJOBS_SCRAPER__MAX_CONCURRENT_REQUESTS=

# Resume settings
NEUROJOBS_RESUME__API_KEY=${NEUROJOBS_OPENAI_API_KEY}
NEUROJOBS_RESUME__MODEL=
NEUROJOBS_RESUME__TEMPERATURE=
NEUROJOBS_RESUME__REQUEST_TIMEOUT=
NEUROJOBS_RESUME__MAX_RETRIES=

# Chroma settings
NEUROJOBS_CHROMA__MODEL=
NEUROJOBS_CHROMA__API_KEY=${NEUROJOBS_OPENAI_API_KEY}

# Agent settings
NEUROJOBS_AGENT__MODEL=
NEUROJOBS_AGENT__API_KEY=${NEUROJOBS_OPENAI_API_KEY}
NEUROJOBS_AGENT__TEMPERATURE=
NEUROJOBS_AGENT__REQUEST_TIMEOUT=
NEUROJOBS_AGENT__MAX_RETRIES=
